#top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar-start {
  .navbar-item {
    font-size: 1.3rem;
    padding: 10px 20px;
    &:hover {
      color: #009e00;
    }
  }
}
.navbar-item {
  &.active {
    color: #009e00;
  }
}
