@import './Styles/styles';
@import './Auth/Auth';

#root {
  min-height: 100vh;
}
.main-content {
  padding-top: 52px;
  padding-bottom: 20px;
  min-height: 100vh;
}

.button {
  &.is-primary {
    background-color: #009e00;
    &:hover {
      background-color: #009e00;
    }
  }
}
